.header {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    height: var(--default-layout-header-height);
}
.header-wrapper {
    justify-content: space-between;
    width: 100%;
    padding: 0 24px 0 16px;
}
