@import 'normalize.css';
@import 'fonts.css';

:root {
    //DefaultLayout
    --primary: rgba(254, 44, 85, 1);
    --default-layout-header-height: 60px;
    --black: #000;
    --white: #fff;
    --text-color: #333;
    --font-primary: 'ProximaNova';
    --font-secondary: 'IBM Plex Sans', sans-serif;
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
}
* {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'ProximaNova';
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}
#root{

    height: 1000px;
}
//Common
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}
.d-flex {
    display: flex;
}
.center {
    align-items: center;
}

//tooltip
.tippy-svg-arrow {
    fill: rgba(84, 84, 84, 0.92);
}
