@import 'normalize.css';
@import 'fonts.css';

:root {
    //DefaultLayout
    --primary: rgba(254, 44, 85, 1);
    --default-layout-header-height: 60px;
    --black: #000;
    --white: #fff;
    --text-color: #161823;
    --font-primary: 'ProximaNova';
    --font-secondary: 'IBM Plex Sans', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    user-select: unset;
}
html {
    font-size: 62.5%;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.1);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
body {
    overscroll-behavior: contain;
    overscroll-behavior-x: contain;
    overscroll-behavior-y: contain;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-primary);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}
#root {
    height: 1000px;
}
//Common
button,
input,
[tabindex] {
    outline: none;
    border: none;
    background-color: transparent;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
li {
    list-style-type: none;
}
ul {
    padding: 0;
}
.d-flex {
    display: flex;
}
.center {
    align-items: center;
}

//tooltip
.tippy-svg-arrow {
    fill: rgba(84, 84, 84, 0.92);
}
