@import 'normalize.css';
@import 'fonts.css';

:root {
    //DefaultLayout
    --default-layout-header-height: 60px
}
* {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'ProximaNova';
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

//Common
.d-flex {
    display: flex;
}
.center{
    align-items: center;
}