.wrapper {
    width: var(--sidebar-witdh);
    top: 60px;
    padding: 20px 0px 26px 8px;
    margin-left: -4px;
    position: relative;
}
.content {
    position: fixed;
    width: var(--sidebar-witdh);
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}
//Login
.login-container {
    position: relative;
    padding: 20px 8px 24px 8px;
    &::before {
        content: '';
        position: absolute;
        height: 1px;
        left: 8px;
        right: 8px;
        background: rgba(22, 24, 35, 0.12);
        transform: scaleY(0.5);
        top: 0;
    }
}
.login-container__desc {
    font-family: var(--font-secondary);
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.6rem;
    line-height: 2.2rem;
}
.login {
    margin-top: 20px;
    justify-content: center;
}
